
header{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: "Poppins";
}
body{
    font-family: "Poppins";
}
p{
    margin: 0;
    padding: 10px;

}
#info{
    width: 100%;
}
#foto{
    float: left; /* Coloca a div "foto" à esquerda */
    width: 250px; /* Define a largura da div "foto" */
    height: 250px; /* Define a altura da div "foto" */
    margin-right: 10px;
    overflow: hidden;
    border-radius: 50%;
}
#foto img{
    width: 100%;
    height: auto;
    display: block; /* Mantém a proporção original da imagem */
}
#informacoes{
    overflow: hidden;
}

h3{
    text-align: center;
}
#contato {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#contato a {
    margin: 0 10px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

#contato a:hover {
    color: #007bff;
}

hr {
    border: none;
    border-top: 1px solid #000000; 
    margin: 20px 0; 
}